PORT = 
MONGODB_URL = 
MONGODB_DB_NAME = 
CORS_ORIGIN_URLS = 

SALTROUNDS = 
JWT_SECRET_KEY = 
GROUP_INFO = 
PRODUCT_INFO = 
EXPENSE_INFO = 
FRIEND_INFO = 
USER_INFO = 

# ################ ENV VARS TO ENABLE GOOGLE SSO LOGIN START #################
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL= # Add this exact url in your Authorized redirect URIs in Google cloude console OAuth Client id form
# ################ ENV VARS TO ENABLE GOOGLE SSO LOGIN END #################
# ################ ENV VARS TO REDIRECT WHEN USER SIGNS UP THROUGH ANY OF THE SSOs #################
CLIENT_SSO_REDIRECT_URL= # Frontend url where backend should redirect when user is successfully logged in through the Google/Github SSO
# ################ ENV VARS TO REDIRECT WHEN USER SIGNS UP THROUGH ANY OF THE SSOs #################
EXPRESS_SESSION_SECRET=